#navigation {
	background: #3399FF;
	color: white;
	font-family: arial;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#navigation .title {
	float: left;
	font-weight: bold;
	padding: 7px 30px 6px 5px;
}

#navigation .user {
	float: right;
	font-weight: bold;
	padding: 7px 30px 6px 5px;
}

#navigation .user a{
	color: white;
}

#navigation .message{
	background-color: #FF6600;
	padding: 7px 5px 6px 5px;
	float: left;
	width: 33em;
}

body{
	font-family: 'Courier New';
	padding-top: 50px;
}

p {
	margin-left: auto;
	margin-right: auto;
	width: 33em;
}

pre {
	margin-left: auto;
	margin-right: auto;
	width: 33em;
}

.clear {
	clear: both;
}

.warning {
	background-color: #FF6600;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 10px;
	width: 33em;
}

#dashboard-login{
	margin-left: auto;
	margin-right: auto;
	width: 33em;
}

#dashboard-login .field {
	margin-bottom: 10px;
}

#dashboard-login .field input{
	border: 1px solid #3399FF;
	padding: 5px;
	width: 100%;
}

#dashboard-login .field .hint{
	font-size: 11px;
}

#console{
	font-size: 14px;
	height: 400px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
	width: 800px;
}
#console-text-container{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
#console-text{
	background-color: black;
	border: 0px;
	color: white;
	padding: 10px;
	margin-left: -10px;
	width: 100%;
}
